* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.page-header {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}


.posts-container {
  max-width: 600px;
  margin: 30px auto;
  display: grid;
  gap: 20px;
}


.post-card {
  background-color: #d9d9d9;
  padding: 15px;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .post-content {
    max-width: 75%;

    .post-title {
      font-size: 18px;
      margin-bottom: 6px;
    }

    .post-description {
      font-size: 14px;
      color: #333;
    }
  }

  .delete-btn {
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b0b0b0;

    &:hover {
      background-color: #9a9a9a;
    }
  }
}
